<!DOCTYPE html>
<html id='u-html-width'>
  <head>
    <title>FlexFitness</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div id='nav_header'>
      <div id='u-logo-position'>
        <%= image_tag '/logo.png', alt:'Flex Fitness Logo #1'%>
      </div>
      <div id='u-logo-2-position' class='hidden-xs'>
        <%= image_tag '/ff_logo.png', width:'125', height:'125', alt:'Flex Fitness Logo #2'%>
      </div>
      <div id='u-social-position' class='hidden-xs'>
        <%= link_to image_tag('/Facebook.png'), 'https://www.facebook.com/theflexfitness', target: '_blank' %>
        <%= link_to image_tag('/Twitter.png'), 'http://www.Twitter.com/theflexfitness', target: '_blank' %>
        <%= link_to image_tag('/Instagram.png'), 'http://instagram.com/the_flexfitness', target: '_blank' %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
